/* public_html/skins/dark/menues.css */
.menues-title {
    color: #bb86fc;
    border-bottom: 2px solid #bb86fc;
    padding-bottom: 10px;
}

.categoria-titulo {
    margin-top: 20px;
    color: #ccc;
    border-bottom: 1px solid #333;
}

.producto {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.producto-titulo {
    font-size: 1.1em;
    margin: 0;
    color: #f2f2f2;
}

.producto-descripcion {
    font-size: 0.9em;
    color: #aaa;
    margin: 5px 0 0;
}

.precio-final {
    font-weight: bold;
    color: #e0e0e0;
}

.precio-original {
    text-decoration: line-through;
    color: #777;
    margin-right: 8px;
}