<div id="login-modal" class="admin-modal">
    <div class="modal-content">
        <div class="login-container">
            <h1>Acceso de Administrador</h1>
            <form id="login-form">
                <div>
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <button type="submit">Ingresar</button>
            </form>
            <p id="login-error-message" class="error-message" style="display: none;"></p>
        </div>
    </div>
</div>